.card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    align-items: center;
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        text-align: center;
    }
}
